//定义不同分辨率字体大小
@media screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 321px) and (max-width: 352px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 353px) and (max-width: 384px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 385px) and (max-width: 416px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 417px) and (max-width: 448px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 449px) and (max-width: 480px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 481px) and (max-width: 512px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 513px) and (max-width: 544px) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: 545px) and (max-width: 576px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 577px) and (max-width: 608px) {
  html {
    font-size: 19px;
  }
}

@media screen and (min-width: 609px) and (max-width: 640px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 641px) and (max-width: 672px) {
  html {
    font-size: 21px;
  }
}

@media screen and (min-width: 673px) and (max-width: 704px) {
  html {
    font-size: 22px;
  }
}

@media screen and (min-width: 705px) and (max-width: 736px) {
  html {
    font-size: 23px;
  }
}

@media screen and (min-width: 737px) and (max-width: 768px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 769) and (max-width: 800px) {
  html {
    font-size: 25px;
  }
}

@media screen and (min-width: 801px) and (max-width: 832px) {
  html {
    font-size: 26px;
  }
}

@media screen and (min-width: 833px) and (max-width: 864px) {
  html {
    font-size: 27px;
  }
}

@media screen and (min-width: 865px) and (max-width: 896px) {
  html {
    font-size: 28px;
  }
}

@media screen and (min-width: 897px) and (max-width: 928px) {
  html {
    font-size: 29px;
  }
}

@media screen and (min-width: 929px) and (max-width: 960px) {
  html {
    font-size: 30px;
  }
}
